<template>
    <div class="m-5">
        <h2 class="title text-3xl mt-2 font-semibold text-slate-500">About Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sint
            maxime placeat, modi est tempore veniam et deserunt eum quae
            repudiandae porro dolorum aperiam voluptatem, provident, repellendus
            pariatur corporis commodi deleniti ut aliquam. Reiciendis animi
            numquam eligendi consectetur corrupti eos officia cupiditate nam
            sint, vitae deserunt beatae, nulla, tempore est? Perspiciatis rem
            repellat sed vitae accusantium. Sapiente magni ducimus culpa quidem
            aut at voluptatem officia ea dolor minima suscipit, enim assumenda
            velit et? Facilis beatae et cupiditate reprehenderit quidem
            veritatis odio autem consequatur? Inventore accusamus quisquam
            repudiandae, est distinctio velit.
        </p>

        <div class="flex justify-between mt-5">
            <div class="mx-2 shadow-sm px-5 border-[1px] border-slate-200 py-5 rounded-md justify-center flex-1">
                <img class="h-auto w-16 self-center" src="/images/insignia.png" alt="" />
                <h3>Reliable Service</h3>
                <p>yes we are reliable</p>
            </div>
            <div class="mx-2 shadow-sm px-5 border-[1px] border-slate-200 py-5 rounded-md flex-1">
                <img class="h-auto w-16 self-center" src="/images/insignia.png" alt="" />
                <h3>Best Service</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quae dolorem eaque nulla earum illo aliquam neque iure
                    similique harum cumque.
                </p>
            </div>
            <div class="mx-2 shadow-sm px-5 border-[1px] border-slate-200 py-5 rounded-md flex-1">
                <img class="h-auto w-16 self-center" src="/images/insignia.png" alt="" />
                <h3>Best Service</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quae dolorem eaque nulla earum illo aliquam neque iure
                    similique harum cumque.
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>
